<div class="form-group">
  <div class="input-group">
      <span class="input-group-addon" id="name">{{ language.name }}</span>
      <input type="text" class="form-control" name="name" id="name" [(ngModel)]="data.name" (ngModelChange)="updateLang()" placeholder="Text">
      <span class="input-group-btn" *ngIf="language.code != 'sv'">
        <button class="btn btn-secondary" type="button" (click)="deleteLang()">X</button>
      </span>
  </div>
</div>
