<div class="container">
  <div class="row">
      
    <div class="col-md-4">

      <div class="card card-margin">
        <!--
        <img class="card-img-top" src="..." alt="Card image cap">
        -->
        <div class="card-body">
          <div style="min-height: 200px">
            <h4 class="card-title">SBP Begreppslista</h4>
            <p class="card-text">Öppen begreppslista för samhällsbyggnadsbranschen</p>
          </div>
          <a href="#" class="btn btn-primary" routerLink="/templates/sbp-begreppslista">Till generator</a>
          <a href="https://gitlab.com/swe-nrb/sbp-begreppslista" class="btn btn-default float-right">Källsida</a>
        </div>
      </div>

    </div>
    
    <div class="col-md-4">

      <div class="card card-margin">
        <!--
        <img class="card-img-top" src="..." alt="Card image cap">
        -->
        <div class="card-body">
          <div style="min-height: 200px">
            <h4 class="card-title">SBP Processer</h4>
            <p class="card-text">Livscykelsteg och processer</p>
          </div>
          <a href="#" class="btn btn-primary" routerLink="/templates/sbp-processer">Till generator</a>
          <a href="https://gitlab.com/swe-nrb/sbp-processer" class="btn btn-default float-right">Källsida</a>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card card-margin">
        <div class="card-body">
          <div style="min-height: 200px">
            <h4 class="card-title">SBP Metoder</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <a href="#" class="btn btn-primary" routerLink="/templates/sbp-metoder">Till generator</a>
        </div>
      </div>

    </div>
      
  </div>
</div>
