<form>

  <div class="form-group">
    <label for="process-order">Ordning</label>
    <input type="number" class="form-control" name="process-order" id="process-order" [(ngModel)]="thing.order" (ngModelChange)="submit()">
    <small class="form-text text-muted">Används för att sortera processer inom en nivå (processer som har samma förälder)</small>
  </div>

  <div class="form-group">
    <label for="process-source">Källa</label>
    <input type="text" class="form-control" name="process-source" id="process-source" [(ngModel)]="thing.source" (ngModelChange)="submit()">
    <small class="form-text text-muted">Källor som har identiska källor grupperas ihop</small>
  </div>

  <div class="form-group">
    <label for="process-parent">Förälder</label>
    <input type="text" class="form-control" name="process-parent" id="process-parent" [(ngModel)]="thing.parent" (ngModelChange)="submit()">
    <small class="form-text text-muted">Anges för processer som är nedbrytningar av en större process</small>
  </div>

  <app-language-block *ngFor="let pickedLanguage of pickedLanguages" [language]="pickedLanguage" (update)="languageUpdated($event)"></app-language-block>
  
  <div class="form-group">
      <label for="languagePicker">Lägg till språk</label>
      <div class="input-group">
        <select class="form-control" id="languagePicker" name="languagePicker" [(ngModel)]="selectedLanguage">
          <option *ngFor="let language of languages" [ngValue]="language">{{ language.name }} </option>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="addLanguage()">Lägg till</button>
        </span>
      </div>
    </div>

</form>
