<div class="row">
  <div class="col-md-12">
    <span class="float-right"><a class="btn" routerLink="/templates">Tillbaka</a></span>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-process-form (output)="receiveJson($event)"></app-process-form>
  </div>
  <div class="col-md-6">
    <app-json-preview [json-data]="output"></app-json-preview>
  </div>
</div>
